// @import "../styles.scss";
//COLORS
$white: #ffffff;
$grey: #a7a7a7;
$greyLight: #efefef;

$primary: #568d40;
$primaryLight: #b5cf83;
$primaryDark: #465831;

$primaryText: #aa091b;

$secondary: #1e438e;
$secondaryLight: $white;
$secondaryDark: #d2d2d2;

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: $primary;
  background-image: linear-gradient($primaryLight, $primary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding: 0 1em;
  height: 100px;
  &-brand {
    padding: 5px;
    width: 100px;
    height: 100px;
    img {
      height: 100%;
    }
  }
  &-link {
    font-weight: 700;
    line-height: 3.5;
    font-size: 1.077em;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    color: $white;
  }
}
