<nav fxLayout="row" class="app-header" fxLayoutAlign="start center">
  <a mat-icon-button class="app-header-brand" [routerLink]="['']">
    <img src="assets/img/teamdaugherty.png" alt="Daugherty Logo" />
  </a>

  <div fxFlex></div>


  <div fxFlex="1"></div>
</nav>
