.app-footer {
  background-color: #2c2c2c;
  color: #c6c6c6;
  bottom: 0;
  position: fixed;

  width: 100%;
  height: 50px;
  z-index: 5;
}

.img-responsive {
  height: auto;
  width: 2.5vh;
}

.app-footer-link {
  font-size: 15px;
}
.login-text {
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .login-text {
    display: none;
  }
  .app-footer-link {
    font-size: 10px;
  }
}
