<div fxLayout="row" fxLayoutAlign="start center" class="app-footer fixed-bottom">
  <em class="app-footer-link">&copy; Daugherty Business Solutions</em>
  <div fxFlex></div>
  <!-- <a class="login-text" mat-button [routerLink]="['adminLogin']">Admin Login</a> -->
  <!-- <div class="icons">
    <a mat-icon-button href="https://www.facebook.com/dbs1985/">
      <img class="img-responsive" src="assets/img/facebook-icon.png" alt="Facebook" />
    </a>
    <a mat-icon-button href="https://twitter.com/daughertytweets">
      <img class="img-responsive" src="assets/img/twitter-icon.png" alt="Twitter" />
    </a>
    <a mat-icon-button href="https://www.linkedin.com/company/daugherty-business-solutions/">
      <img class="img-responsive" src="assets/img/linkedin-icon.png" alt="LinkedIn" />
    </a>
    <a mat-icon-button href="https://www.youtube.com/channel/UCmOMOQKzgVzaMVIwRO1yO4Q">
      <img class="img-responsive" src="assets/img/youtube-icon.png" alt="YouTube" />
    </a>
  </div> -->
</div>
